.title {
  text-transform: uppercase;
  text-align: center;
}

.list {
  &__item {
    display: flex;
    flex-direction: column;
  }
}

.value {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
