<section class="page">
  <div class="container">
    <article>
      <header class="header">
        <h1 class="title">The International 2019</h1>
        <section class="row list">
          <section class="col-md-4 list__item">
            <span class="key">Место проведения:</span>
            <span class="value">Шанхай</span>
          </section>
          <section class="col-md-4 list__item">
            <span class="key">Призовой фонд:</span>
            <span class="value">$32 726 450</span>
          </section>
          <section class="col-md-4 list__item">
            <span class="key">Дата проведения:</span>
            <span class="value">15 - 25 августа 2019</span>
          </section>
        </section>
      </header>

      <section class="body">
        <p>The International 2019 ( также известный как ti 19 ) — Главный турнир года по игре Dota 2, ежегодно организовывается компанией Valve уже девятый раз подряд. Главным призом данного турнира является денежный приз и кубок в виде Аегиса. В этом году турнир будет проведен на територии Китая, Шанхай в Мерседес-Бенц-Арена — с 15 по 25 августа 2019 года.</p>

        <h2>Участники</h2>
        <p>Участие в турнире примут восемнадцать команд, двенадцать команд с наивысшими показателями DPC баллов в сезоне получили прямые приглашения на The International 2019. Первой командой получившей прямое приглашение по DPC баллам как и на турнире в 2018, снова стала Virtus.Pro. Другие шесть команд определились в открытых и региональных отборочных. Открытые отборочные — с 3 по 6 июля 2019 года. Региональные отборочные — с 7 по 15 июля 2019 года. Вскоре после того, как 30 июня 2019 года на «Epicenter Major» разыграли последние DPC баллы, основной костяк из 12 команд был сформирован, оставшиеся 6 мест заняли команды прошедшие отборочный этап.</p>

        <p>Первые 6 команд набравшие: 5962 DPC баллов — количество считаемое рубиконом: Virtus.pro, Team Secret, Vici Gaming, Evil Geniuses, Fnatic, PSG.LGD. Они не покинули бы топ-12 рейтинга вне зависимости от результатов оставшихся соревнований.</p>

        <p>8 мая в игре появился Компе́ндиум для главного турнира года, с его помощью Valve увеличит призовой фонд TI9. За первые сутки пользователи собрали $7 420 000 — на 24% больше, чем в прошлый год. На момент публикации — сумма превышала $7 млн. Призовой фонд прошлого года составил $25 532 177.</p>

        <p>По традиции призовой фонд турнира $1.600.000 выделяемый Valve, вся остальная сумма сверх этого зависит от количества проданных боевых пропусков, компе́ндиумов и уровней к нему, а также внутриигровых сокровищниц. Четверть суммы (25 %), вырученной Valve от продажи так называемых «боевых пропусков — компе́ндиумов рус | анг battle pass — compе́ndium», напрямую входит в призовой фонд The International 9. Так, призовой фонд The International 2018 превышал $25.5 млн.</p>

        <p>Вечером — 1 июля 2019 года, в 18:30 по МСК на 55-й день сбора призовых TI9 достигли планки в $25 580 000, а призовые за первое место, как и годом ранее, достигли $11 000 000, что оказалось в два раза быстрее, чем годом ранее.</p>

        <p>Утром — 21 июля 2019 года, в 9:30 по МСК на 74-й день сбора призовых TI9 достигли планки в $30 000 000.</p>
      </section>
    </article>
  </div>
</section>
